html, body{
    color: black;
    background-color: white;
    min-width: 300px;
    line-height: 1.5;
}
#navbar{
    position: fixed;
    min-width: 250px;
    top:0;
    width: 350px;
    height: 100%;
    border-right: solid;
    border-color: rgb(123, rgb(169, 176, 169), rgb(173, 173, 232));
}
#main-doc{
position: absolute;
margin-left: 370px;
padding: 30px;
}